body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1{
    text-align: center;
}

.intro{
    max-width: 700px;
    width: 80%;
    text-align:left;
    margin-left: auto;
    margin-right: auto;

}


img{
    height: auto;
    width: 80%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px ;
}

.cooking-time{
    margin-top: 50px;
    background: bisque;
    height: auto;
    width: 80%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-time{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 10px;
}

.ingredients{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 80%;

}

ul{
  list-style-position: inside;  
}

ol{
    margin-left: 30px;
}
